aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
cachetools==5.3.1
cattrs==23.1.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
exceptiongroup==1.1.3
fastapi==0.103.2
frozenlist==1.4.0
h11==0.14.0
httptools==0.6.0
icalendar==5.0.10
idna==3.4
iniconfig==2.0.0
multidict==6.0.4
packaging==23.2
platformdirs==3.11.0
pluggy==1.3.0
pydantic==1.10.13
pytest==7.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
requests-cache==1.1.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.27.0
tomli==2.0.1
typing_extensions==4.8.0
url-normalize==1.4.3
urllib3==2.0.7
uvicorn==0.23.2
watchfiles==0.21.0
websockets==11.0.3
yarl==1.9.2
